<div class="list-content">
    <mat-list>
        <mat-list-item class="pointer" (click)="showFrontDev(1)">Anouar</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="pointer" (click)="showFrontDev(2)">Mouad</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="pointer" (click)="showFrontDev(3)">Younes</mat-list-item>
    </mat-list>
</div>

<hr>

<div>
    - This is an absolute path :
    <a mat-flat-button routerLink="/front">Reload Front team page </a>
</div>

<br>

<div>
    - This is a relative path : <a mat-stroked-button routerLink="front">Reload Front team page</a>
</div>